################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/*
/Code/.vs/*
/Code/Game/obj/*
/Code/Game/bin/*
/Code/Game/.vs/*
\Code\Game\.vs/*
/Code/.vs/*
/Code/Game_V4/obj/*
/Code/Game_V4/bin/*
/Code/Game_V4/.vs/*
/Code/GameUI/bin/*
/Code/GameUI/obj/*
/Code/.vs/*
/Code/POH_UI/obj/*
/Code/POH_UI/bin/*
/Code/POH_UI/.vs/*
/Code/Game/Game.csproj.user
